[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "myblog/themes/mainroad"]
	path = myblog/themes/mainroad
	url = https://github.com/vimux/mainroad.git
